<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navbar">

    <div class="topbar">

        <div>

            <h4 id="pageTitle">Dashboard</h4>

            <small id="currentDate"></small>

        </div>

        <div class="profile">

            <div class="text-end">

                <h6 class="mb-0">Administrator</h6>

                <small id="currentTime"></small>

            </div>

            <img src="https://ui-avatars.com/api/?name=Admin&background=7C3AED&color=fff" alt="Admin">

        </div>

    </div>

</div>

</html>