<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sidebar">

    <div class="sidebar">

        <div class="logo">

            <i class="bi bi-camera-fill"></i>

            <h3>AI Attendance</h3>

        </div>

        <ul>

            <li>
                <a th:href="@{/dashboard}" class="active">
                    <i class="bi bi-house-door-fill"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li>
                <a th:href="@{/students}">
                    <i class="bi bi-people-fill"></i>
                    <span>Students</span>
                </a>
            </li>

            <li>
                <a th:href="@{/register-face}">
                    <i class="bi bi-person-bounding-box