<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sidebar">

    <aside class="sidebar">

        <div class="logo">

            <div class="logo-icon">
                <i class="bi bi-robot"></i>
            </div>

            <h3>SMART</h3>

            <h6>ATTENDANCE</h6>


        </div>

        <nav>

            <a th:href="@{/dashboard}">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>

            <a th:href="@{/students}">
                <i class="bi bi-people-fill"></i>
                Students
            </a>

            <a th:href="@{/students/add}">
                <i class="bi bi-person-plus-fill"></i>
                Add Student
            </a>

            <a th:href="@{/attendance/history}">
                <i class="bi bi-clock-history"></i>
                Attendance History
            </a>

            <a th:href="@{/reports}">
                <i class="bi bi-file-earmark-bar-graph-fill"></i>
                Reports
            </a>

            <a th:href="@{/settings}">
                <i class="bi bi-gear-fill"></i>
                Settings
            </a>

        </nav>

        <div class="logout">

            <a th:href="@{/logout}">

                <i class="bi bi-box-arrow-right"></i>

                Logout

            </a>

        </div>

    </aside>

</div>

</html>